@mixin generate-displays {

	$possibilities: (
			'none',
			'block',
			'inline-block',
			'inline',
			'flex',
			'inline-flex',
			'list-item',
			'grid',
			'contents',
			'table',
			'table-cell',
	);


	@each $i in $possibilities {
		.d-#{$i} {
			display: #{$i};
		}
	}

	@each $breakpoint, $size in $breakpointList {
		@include breakpoint-up($breakpoint) {
			@each $i in $possibilities {
				.d-#{$breakpoint}-#{$i} {
					display: #{$i};
				}
			}
		}
	}
}
@include generate-displays();