@for $i from 1 through 12 {
	//create a shortcut for a column, that spans 1/i of the row
	.col-#{$i} {
		flex: 0 0 (100% / $i);
		max-width: (100% / $i);
	}
	//create a shortcut for a column, that spans 1/i*e of the row. e is always at most the same as i (= 100%) and never less than 2
	@for $e from 2 through $i {
		.col-#{$i}-#{$e} {
			flex: 0 0 (100% / $i * $e);
			max-width: (100% / $i * $e);
		}
	}
}

//repeat the code above, but include the breakpoints
@each $breakpoint, $size in $breakpointList {
	@include breakpoint-up($breakpoint) {
		@for $i from 1 through 12 {
			.col-#{$breakpoint}-#{$i} {
				flex: 0 0 (100% / $i);
				max-width: (100% / $i);
			}
			@for $e from 2 through $i {
				.col-#{$breakpoint}-#{$i}-#{$e} {
					flex: 0 0 (100% / $i * $e);
					max-width: (100% / $i * $e);
				}
			}
		}
	}
}