table.table-listing {
	width: 100%;
	border-collapse: collapse;
	position: relative;

	thead {
		background-color: $gray-100;
		position: sticky;
		top: 0;
		z-index: 1;

		&.sticking {
			box-shadow: 0 3px 4px -1px $gray-100;
		}

		th {
			padding: 0.5rem;
			text-align: left;

			&.row-selection-column {
				text-align: center;
				width: 3rem;
			}

			&[data-data-type=bool] {
				max-width: min-content;
				text-align: center;
			}
		}
	}

	tbody {
		tr {
			background-color: $gray-300;
			display: none;

			&:nth-of-type(2n) {
				background-color: $gray-350;
			}

			&:hover {
				background-color: $gray-400;
			}

			&.visible {
				display: table-row;
			}

			&.js-fake-table-row {
				position: relative;
				background-color: transparent !important;

				&::after {
					content: attr(data-hover-text);
					position: absolute;
					top: 0;
					left: 0;
					width: calc(100% - 0.5rem);
					height: calc(100% - 0.5rem);
					border: 2px solid $gray-100;
					color: $gray-100;
					box-sizing: border-box;
					margin: 0.25rem;
					border-radius: 0.5rem;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				&.dragover::after {
					color: $aqua;
					border-color: $aqua;
				}
			}

			td {
				padding: 0.5rem;
				text-align: left;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;

				&[data-data-type=text] {
					max-width: 20rem;
				}

				&[data-data-type=bool],
				&.row-selection-column {
					max-width: min-content;
					text-align: center;
					width: 3rem;
				}
			}
		}
	}

	& ~ .row-selection-actionbar {
		padding: 0.5rem 1rem;
		background-color: $gray-300;
		display: none;

		&.visible {
			display: block;
		}
	}
}