{% extends "template/elements/table/table.html.twig" %}

{% block table_element_class %}js-entity-listing table-listing js-scalable{% endblock %}

{% block table_body_inner %}{% endblock %}

{% block table_after %}
    <template id="entity-row">

        <tr>
             {% if configuration.showRowSelection %}
                <td class="row-selection-column">
                    <input type="checkbox" class="toggleRow" id=[[rowSelectionId]]"/>
                    <label for="[[rowSelectionId]]"></label>
                </td>
            {% endif %}

            {% set colIndex = 0 %}
            {% for data in configuration.tableHeaders %}
                <td data-data-type="{{ configuration.columnTypes[colIndex] }}">{{ data }}</td>
                {% set colIndex = colIndex + 1 %}
            {% endfor %}
        </tr>

    </template>
{% endblock %}
